# Простое задание, которое проверяет понимание использования базовых возможностей языка

## Записывайте код в доступные ячейки, чтобы выполнить код в ячейках, нажмите кнопку выполнить (треугольник) либо сочетание клавиш (ctrl+enter)

## Типы объектов Python

В двух урнах находится соответственно 4 и 5 белых и 6 и 3 чёрных шаров. Наудачу выбирается одна урна и из неё наугад извлекается шар. Какова вероятность того, что этот шар чёрный? (подсказка: используйте формулу полной вероятности и с помощью арифметических операторов расчитайте результат)

In [ ]:
first_black = 6
first_white = 4
second_black = 3
second_white = 5

0.5125

Подсчитайте расстояние между точками 1 и 2 с координатами (x1, y1) и (x2, y2)

In [ ]:
x1=1
x2=5
y1=3
y2=10

Запишите фразу
`We interrupt this program to annoy you and make things generally more irritating`

в переменную и выведите число символов, которые в ней содержатся

82

Подсчитайте число слов в этой же фразе

['',
 'We',
 'interrupt',
 'this',
 'program',
 'to',
 'annoy',
 'you',
 'and',
 'make',
 'things',
 'generally',
 'more',
 'irritating',
 '']

15

Разделите эту фразу по пробелам на список строк и объедините эти слова назад в строку но вместо пробела используйте символ '`_`'

Имеется последовательность кодирующей цепочки ДНК `caggatgtatatatctgacacgttaacctggagactagggagtaatccccaattggcggttaaaacgc`. 

Выведите символы в последовательности начиная с 10 по 20. 

Создайте новую последовательность путем утроения этого участка. (пример: из последовательности `tgcct` получится последовательность `tgccttgccttgcct`)

Выведите результат в обратном порядке

Найдите количество вхождения каждого нуклеотида в последовательность `tagagcttgctacgaccaattgagcggcctcggcaccgggattctcc`

10 t
9 a
13 g
15 c

Найдите сайты рестрикции Hpa I (`GTT|AAC`) в последовательности ДНК, не забудьте про комплементарную цепь ДНК. Выведите позиции по которым ДНК будет разрезана. Выведите получившиеся олигонуклеотиды после рестрикции.

0
2

tagagcttgctacgaccaa
ttgagcggcctcggcaccgggattctagcttgctacgaccaattgagcggcctcggcaccgcc

Превратите строку с последовательностью в лист из отдельных букв.
Перемешайте лист при помощи функции shuffle (from random import shuffle) 
Превратите ее назад в строку после перемешивания.

'ggcgcgtagctccggagggacccgctacctggcctactgagctccgctaatcctatcgcacgtagtactgttagcaagacgc'

Напишите программу, которая объединяет словари

```
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

Ожидаемый результат: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 'jf': 'dhf'}

## Условные операторы и операторы повтора

Найдите факториал числа 6, **не** успользуя пакет `math`

720

Напишите программу, которая удалит дубликаты из списка

In [ ]:
test_list=['Eeny', 'meeny', 'miney', 'moe', 'Catch', 'a', 'tiger', 'by', 'his', 'toe', 'If', 'he', 'squeals', 'let', 'him', 'go', 'Eeny', 'meeny', 'miney', 'moe']

{'Catch',
 'Eeny',
 'If',
 'a',
 'by',
 'go',
 'he',
 'him',
 'his',
 'let',
 'meeny',
 'miney',
 'moe',
 'squeals',
 'tiger',
 'toe'}

In [ ]:
s

[]

Напишите программу, которая найдет общие элементы из двух листов и запишет их в третий лист
```
lista=['Eeny', 'meeny', 'miney', 'moe', 'Catch', 'a', 'tiger', 'by', 'his']

listb=['let', 'him', 'go', 'Eeny', 'meeny', 'miney', 'moe']
```

Имеется последовательность кодирующей цепочки ДНК `caggatgtatatatctgacacgttaacctggagactagggagtaatccccaattggcggttaaaacgc`. Найдите последовательность РНК, которая образуется в результате транскрипции. (ответ представьте в верхнем регистре)

Подберите праймеры для ПЦР на последовательности, 

`caggatgtatatatctgacacgttaacctggagactagggagtaatccccaattggcggttaaaacgc`

которые вырежут участок с 8 по 48 нуклеотид

In [ ]:
seq = 'caggatgtatatatctgacacgttaacctggagactagggagtaatccccaattggcggttaaaacgc'
comp_seq = ''
for letter in seq:
    if letter == 'c':
        comp_seq = comp_seq + 'g'
    elif letter == 'g':
    comp_seq = comp_seq + 'c'
    elif letter == 't':
        comp_seq = comp_seq + 'a'
    elif letter == 'a':
        comp_seq = comp_seq + 't'
    else:
        comp_seq = comp_seq + 'x'

comp_seq

'gtcctacatatatagactgtgcaattggacctctgatccctcattaggggttaaccgccaattttgcg'

In [ ]:
compl_dict={'a':'t', 't':'a','g':'c','c':'g'}
seq = 'caggatgtatatatctgacacgttaacctggagactagggagtaatccccaattggcggttaaaacgc'
comp_seq = ''
for letter in seq:
    comp_seq = comp_seq + compl_dict[ letter ]
comp_seq

'gtcctacatatatagactgtgcaattggacctctgatccctcattaggggttaaccgccaattttgcg'

Расчитайте число вхождений урацила в полученной последовательности РНК через цикл и через строковый метод

Разбейте строку `Trypanosoma|XP_823266.1|canonical_H2B` по символу "`|`"

Получите эту строку обратно *с ипользованием цикла* и *без использования цикла*

Сложите значения в словарях, согласно ключам

```
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

Ожидаемый результат: {'a': 400, 'b': 400, 'd': 400, 'c': 300}
```

Выведите все четные числа из списка 

```
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
```

в том же порядке, прекратите вывод, как только любое из чисел будет меньше 237

Напишите программу, которая выведет вам следующий узор при помощи символов *

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

Напишите программу, которая выведет таблицу пифагора вида, бонусные очки, если вы изобразите разделительные линии между множителями и произведением

```
1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100
```

In [3]:
test_dict = {'abc':10, 'lol':'Vasya', 5:'2'}
test_dict_2 = {'abc':85, 'lol':'324', 5:123}

In [5]:
for temp in test_dict.keys():
    print(temp, test_dict_2[temp] )

abc 85
lol 324
5 123

In [6]:
for temp in test_dict.values():
    print(temp)

10
Vasya
2

In [19]:
for temp in test_dict.items():
    print(temp)

('abc', 10)
('lol', 'Vasya')
(5, '2')

In [16]:
test_list = [5,'abc']

In [17]:
for temp_key, temp_val in test_dict.items():
    if temp_key in test_list:
        print(temp_key,temp_val)

abc 10
5 2

In [20]:
temp_list1 = [5,6,7,8]
temp_list2 = ['a','V','d','z']

In [22]:
for i in range( len( temp_list1 ) ):
    print( i, temp_list1[i], temp_list2[i] )

0 5 a
1 6 V
2 7 d
3 8 z

In [28]:
list( range(3,10,3) )

[3, 6, 9]

In [29]:
for item1,item2 in zip(temp_list1,temp_list2):
    print( item1, item2 )

5 a
6 V
7 d
8 z

In [31]:
dict( zip(temp_list1,temp_list2) )

{5: 'a', 6: 'V', 7: 'd', 8: 'z'}

In [33]:
for i,value in enumerate( temp_list1 ):
    print( i, value )

0 5
1 6
2 7
3 8

In [36]:
temp_list1.__getitem__(0)

5

In [35]:
print( 1,2,3 )

1 2 3

In [34]:
print( (1,2,3) )

(1, 2, 3)